<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Library</title>
	<script src="https://www.gstatic.com/firebasejs/4.5.0/firebase.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/style/style.css">
</head>
<body class="container-fluid">
	<main class="row">
		<div class="col-6 boxContent">
			<img src="/imgs/Logo.png" alt="Logo JoLi Books Emporium">
			
			<form>
				<div class="form-group">
					<label for="exampleInputEmail1">Username</label>
					<input type="email" class="form-control" id="exampleInputEmail1"" placeholder="Enter email">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				</div>
				<div class="form-check">
					<label class="form-check-label">
					  <input type="checkbox" class="form-check-input">
					  <small>Remember the password</small> 
					</label>
				</div>
				<div class="btnsInline">
				<a class="btn btn-primary" href="books/all">Sign In</a>
				<a class="btn btn-success" href="books/all">Sign Up</a>
			</div>
			</form>
		</div>
	</main>
</body>
</html>